{% extends 'layout.html' %}

{% block title_content %}
    <title>Student details</title>
{% endblock %}

{% block page_content %}
    <h1>THIS IS {{ lastname }} DETAILS PAGE</h1><br>
Firstname  :  {{ firstname }}<br>
Lastname  :  {{ lastname }}<br>
Gender  :  {{ gender }}<br>
Age  :  {{ age }}<br>
Address  :  {{ address }}<br>
Contact_number  :  {{ contactnumber }}<br>
City  :  {{ city }}<br>
State  :  {{ state }}<br>
Python  :  {{ python }}<br>
Data_science  :  {{ datascience }}<br>
Bigdata  :  {{ bigdata }}<br>
Email_id  :  {{ emailid }}<br>
Username  :  {{ username }}<br>
Password  :  {{ password }}<br>
{% endblock %}